@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="topbar-slider">
        <div id="slider-thumbnail" class="owl-carousel owl-theme slider-thumbnail">
            <div class="item">
                <img src="/TestImages/Prius.jpg" alt="featured slider 01">
                <div class="item-caption">
                    <div class="caption-description">
                        <a href="category.html" class="caption-cat-links">Car 1</a>
                        <span class="caption-title">
                        <a href="single.html" class="caption-title-link">Total: $31,242 - $434/month</a>
                        <a href="single.html" class="button caption-more-link">Read More</a>
                        </span><!-- .caption-title -->
                    </div><!-- .caption-description -->
                </div><!-- .item-caption -->        
            </div>
            <div class="item">
                <img src="/TestImages/Mini Cooper.jpg" alt="featured slider 01">
                <div class="item-caption">
                    <div class="caption-description">
                        <a href="category.html" class="caption-cat-links">Car 1</a>
                        <span class="caption-title">
                        <a href="single.html" class="caption-title-link">Total: $31,242 - $434/month</a>
                        <a href="single.html" class="button caption-more-link">Read More</a>
                        </span><!-- .caption-title -->
                    </div><!-- .caption-description -->
                </div><!-- .item-caption -->        
            </div>
            <div class="item">
                <img src="/TestImages/Corolla.jpg" alt="featured slider 01">
                <div class="item-caption">
                    <div class="caption-description">
                        <a href="category.html" class="caption-cat-links">Car 1</a>
                        <span class="caption-title">
                        <a href="single.html" class="caption-title-link">Total: $31,242 - $434/month</a>
                        <a href="single.html" class="button caption-more-link">Read More</a>
                        </span><!-- .caption-title -->
                    </div><!-- .caption-description -->
                </div><!-- .item-caption -->        
            </div>
            <div class="item">
                <img src="/TestImages/Prius II.jpg" alt="featured slider 01">
                <div class="item-caption">
                    <div class="caption-description">
                        <a href="category.html" class="caption-cat-links">Car 1</a>
                        <span class="caption-title">
                        <a href="single.html" class="caption-title-link">Total: $31,242 - $434/month</a>
                        <a href="single.html" class="button caption-more-link">Read More</a>
                        </span><!-- .caption-title -->
                    </div><!-- .caption-description -->
                </div><!-- .item-caption -->        
            </div>
            <div class="item">
                <img src="/TestImages/Land Rover Discovery.jpg" alt="featured slider 01">
                <div class="item-caption">
                    <div class="caption-description">
                        <a href="category.html" class="caption-cat-links">Car 1</a>
                        <span class="caption-title">
                        <a href="single.html" class="caption-title-link">Total: $31,242 - $434/month</a>
                        <a href="single.html" class="button caption-more-link">Read More</a>
                        </span><!-- .caption-title -->
                    </div><!-- .caption-description -->
                </div><!-- .item-caption -->        
            </div>
        </div>
    </div>
}
