@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#slider-thumbnail").owlCarousel({
                items: 3,
                autoPlay : true,
                stopOnHover : false,
                navigation : true
            });
        });
    </script>
}

@section TopbarSlider {
    @await Html.PartialAsync("_HeaderCarousel")
}
