@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#owl-example").owlCarousel({
                items: 4,
                autoPlay : true,
                stopOnHover : false,
                navigation : true
            });
        });
    </script>
}
